.margin {
  &--0 {
    margin: 0;
  }
}

.padding {
  &--0 {
    padding: 0;
  }
}

.height {
  &-min {
    &--100vh {
      min-height: 100vh;
    }
  }
}

.font-family {
  &--default {
    font-family: $default-font;
  }
}
