.display {
  &--flex {
    display: flex;
  }
  &--block {
    display: block;
  }
}

.flex-justify {
  &--center {
    justify-content: center;
  }

  &--between {
    justify-content: space-between;
  }
}

.flex-align {
  &--center {
    align-items: center;
  }
}
